body, html {
    height: 100%;
    font-family: sans-serif;
}

span {
    float: right;
}

.background {
    background-image: url("/pog.jpg");
        /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg2 {
    background-image: url("/bgimg2.png");
    min-height: 400px;
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg2 div {
    padding: 2em;
}

.bgimg2 div button {
    margin-left: 1em;
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    /* width: 100%; */
    text-align: center;
    color: #000;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.caption span {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.nav {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.register {
    background-image: url("/pog.jpg");
    height: 100vh;
    width: 100%;
    padding-top: 4em;
    margin: 0 auto;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.registerForm {
    background-color: rgba(17, 17, 17, 0.80);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2em;
}

.btn-primary {
    background-color: #ff8000;
    border: none;
    width: 100%;
}

.btn-primary:hover {
    background-color: #ff9224;
}

.form-control {
    width: 25% !important;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 25%;
}

.items {
    background-color: rgba(25, 25, 25, 0.80);
    margin-bottom: 1em;
    width: 40%;
    border-radius: 0.5em;
}

.icon {
    float: left;
    margin-left: 45em;
    margin-top: -1.7em;
    z-index: 2;
    cursor: pointer;
}

select {
    margin-bottom: 1em;
}

.errors {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.75rem 1.25rem;
    width: 50%;
    border-radius: 0.25em;
    margin-bottom: 1rem
}

.success {
    width: 50%;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

@media (min-width: 768px) {
    .form-control {
        width: 50%;
    }

    .btn-primary {
        width: 50%;
    }
}
